:root{
    --font-gap: 1.15rem;
    --section-gap: 8.15rem;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    margin-bottom: var(--section-gap);
    background-color: gray;
    background-image: url("../images/donation9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 70dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-1{
    margin: 0 15rem;
    margin-bottom: var(--section-gap);
}
.container-2{
    margin: 0 25rem;
    margin-bottom: var(--section-gap);
}
.header-part{
    padding: var(--section-gap) 0;
    text-align: center;
}
.header-part > h1{
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 4rem;
}
.header-part > p{
    color: #FFFFFF;
    font-size: 1.25rem;
    max-width: 60%;
    margin: auto;
}
.ancor{
    margin-top: 3rem;
}
.ancor > a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF5959;
    padding: 0.8em 1.1em;
    border-radius: .5rem;
    font-weight: 500;
    font-size: 1.25rem;
}
.donate-today > *{
    text-align: center;
    margin-bottom: var(--font-gap);
}
.headline-text{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}
.p-text{
    width: 60%;
    color: gray;
    font-size: 1.25rem;
    margin: auto;
    margin-bottom: var(--font-gap);
    text-align: center;
}
.taka{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}
.taka h1{
    font-size: 2.4rem;
    color: #707070;
}
.taka > div{
    min-height: 160px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .6rem;
    background: #FAFAFA;
}
.taka div:nth-child(2){
    background: #FFEEEE;
    border: 2px solid #FF5959;
}
.taka div:nth-child(2) > h1{
    color: #FF5959;
}
.donate-plane > *{
    /* text-align: center; */
    margin-bottom: var(--font-gap);
}
.need{
    display: flex;
    gap: 2rem;
    justify-content: start;
}
.updated{
    max-width: 40%;
    margin-bottom: 3rem;
}
.need > div{
    border-radius: .5rem;
}
.need p{
    width: 70%;
}
.need > div:nth-child(1){
    background: #EDF5F6;
}
.need > div:nth-child(2){
    background: #FFEEEE;
}
.need > div:nth-child(3){
    background: #FFF4D6;
}
.need > div > div{
    margin: 5rem 2rem;
}
.need > div > div > *{
    margin-bottom: var(--font-gap);
}
.both-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 8rem; */
}
.left-side > *{
    margin-bottom: var(--font-gap);
}
.left-side > h1{
    font-size: 3rem;
    font-weight: 800;
}
.left-side p{
    width: 80%;
    color: gray;
    font-size: 1.25rem;
}
.left-side{
    width: 40%;
}
.right-side-1{
    display: flex;
    justify-content: end;
}
.right-side-1 > img{
    width: 90%;
    border-radius: .5rem;
}
.right-side-2 > img{
    width: 80%;
    border-radius: .5rem;
}
.contact :is(h1, p){
    margin-bottom: 1.5rem;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 14rem;
    width: auto;
    background-color: #FFF4D6;
    border-radius: .5rem;
    margin-top: 3rem;
}
.input input{
    height: 3.7rem;
    width: 18rem;
    border: none;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding-left: 1.5rem;
    font-size: 1.25rem;
    background: #D9D9D9;
}
.ancor-update{
    margin: unset;
}
.ancor-update a{
    border-radius: unset;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
footer{
    width: 100%;
    min-height: 14rem;
    background: #0B0D17;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h1{
    color: #FF5959;
}
footer p{
    color: #ADAFB6;
}